<div class="Jumbotron mt-4">
    <h1 class="dist">Note app Node js </h1>
    <p class="lead">Aplicacion de notas en espaniol</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quia quisquam quas quod nulla voluptatibus optio blanditiis, iste corrupti voluptates odit vitae dolorum, vero ipsam esse nobis repellat ex minima provident molestias reprehenderit nesciunt labore ad dolore. Consequatur, exercitationem dolor!</p>
    <a href="https://github.com/jonathan1394" class="btn btn-primary btn-lg">Jonathan Machado</a>
</div>