<div class="card mt-4">
    <div class="card-head">
        <h3>Registro</h3>
    </div>
<div class="card-body">
    <form action="#">
        <form-group>
            <input type="text" name="Usuario" placeholder="Usuario">
        </form-group>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="form-grou">
            
        </div>
    </form>
</div>
</div>